* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  background-color: white ;
}

li{
list-style: none;
}

a{
  text-decoration: none;
}

.navbar{
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:60px
  }

  .logo{
    position: static;
    width: 76px;
    height: 20px;
    font-style: normal;
    font-weight: bold ;
    color: #6070FF;
    text-align: center;

  }

  .nav-link{
    transition: 0.7s ease;
  }
  .nav-link:hover{
    color: #6070FF;
    box-shadow: 0px 8px 16px rgba(64, 83, 252, 0.24);
  }

  .hamburger{
    display: none;
    cursor: pointer;
  }

  .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #6070FF;
  }

@media(max-width: 796px){
  .hamburger{
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(8px) rotate(-45deg);
  }

}

.nav-menu{
  position:fixed;
  left: -100%;
  top:70px;
  gap:0;
  flex-direction: column;
  background-color: #6070FF;
  width: 100%;
  text-align: center;
  transition: 0.3s;
  
}

.nav-items{
  margin: 16px 0;
}

.nav-menu.active{
  left: 0;
}